AccessModifierOffset: -2
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
BreakBeforeBraces: Allman
ColumnLimit: 80
DerivePointerAlignment: false
DerivePointerBinding: false
IndentWidth: 4
Language: Cpp
PointerAlignment: Middle
Standard: Cpp03
TabWidth: 4
SpaceBeforeParens: Always
SpaceBeforeAssignmentOperators: true
